*{
	text-decoration: none;
	padding: 0px;
	margin:0px;
	transition: 0.3s ease-out;
}
body{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 150px;
}

nav{
	width: 750px;
	display: flex;
	justify-content: space-around;
}

nav a{
	color: #000;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
}

footer{
	padding:0 150px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #919191;
}

footer p{
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: #fff;
}

footer div{
	width: 200px;
}

.choise{
	display: flex;
	flex-direction: column;
	padding: 0 150px;
	align-items: center;
}

.card{
	display: flex;
	align-items: center;
}

.information{
	height: 250px;
	width: 367px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 20px;
}
.information a{
	font-family: Arial;
	font-style: normal;
	font-size: 20px;
	color: #000000;
}
.information h3{
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: #000000;
}
.information p{
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: #000000;

}

.row1{
	display: flex;
	margin-bottom: 30px;
}

.row2{
	display: flex;
}