*{
	text-decoration: none;
	padding: 0px;
	margin:0px;
	transition: 0.3s ease-out;
}
body{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color:#e5e5e5; 
}
.block1{
	height: 100vh;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 150px;
}

nav{
	width: 750px;
	display: flex;
	justify-content: space-around;
}

nav a{
	color: #000;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
}
.Examples{
	background-color: #e5e5e5;
	padding: 0 150px;
	}
	.container{
		display: grid;
		grid-gap: 15px;
		grid-template-columns:repeat(4,1fr);
		grid-template-rows:1fr;
		padding:20px 0;
	}
	.item{
			text-align: center;
			transition: 0.7s;
			cursor: pointer;
		}
	.item:hover{
			transform: scale(1.1);
		}

footer{
	padding:0 150px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #919191;
}

footer p{
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: #fff;
}

footer div{
	width: 200px;
}