*{
	text-decoration: none;
	padding: 0px;
	margin:0px;
	transition: 0.3s ease-out;
}

body{
	background-color: #CA3232;
}

.block1{
	background-image: url(img/block1.jpg);
	height: 100vh;
	background-size: cover;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 150px;
}

nav{
	width: 750px;
	display: flex;
	justify-content: space-around;
}

nav a{
	color: #000;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
}

.banner{
	padding: 80px 290px;
}

.block2{
	padding:30px 250px;
}

.block2 h2{
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 32px;
	color: #FFF;

}

.block2 p{
	width: 660px;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 32px;
	color: #FFF;
}

footer{
	padding:0 150px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #919191;
}

footer p{
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: #fff;
}

footer div{
	width: 200px;
}























